.pio
.pioenvs
.clang_complete
.gcc-flags.json
.piolibdeps
src/main.cpp
/debug
lib
.travis.yml
!/.travis.yml
/TODO.txt
.gitignore
!/.gitignore
examples/clickEncoder
examples/screenNav
/dev
/examples/dev
/composition_test
/examples/tiny

**/.DS_Store
